:root:root {
    --feed-background-color: #232C36;
    --feed-element-background-color:#15202b;
    --feed-element-header-color: #FFFFFF;

    --compact-video-background-color: #232C36;
    --compact-video-background-color-hover:#1C242E;
    --compact-video-header-color: #FFFFFF;
    --compact-video-description-color: #888888; 
    --compact-video-loading-1: #505050;
    --compact-video-loading-2: #333333;

    --notice-board-linked-item-background-hover-color: #1c252e;
    --notice-board-item-header-color: #FFFFFF;
    --notice-board-item-description-color: #9D9D9D;

    --mobile-feed-nav-link-color: #AAAAAA;
    --mobile-feed-nav-link-hover-color: #CCCCCC;
    --mobile-feed-nav-link-selected-color: #FFF;
    --mobile-feed-nav-link-background: rgba(0, 0, 0, 0.2);
}